{% include 'header.html' %}

        <div class="tasksProject">
            ADD TASK
        </div>
    </header>
    <div class="central">
        <form method="post" action="{{attribute(configs, 'baseURL')}}tasks/add" class="addForm">
            <input type="hidden" name="flag" value="1">
            <label class="formProjectLabel" for="formProject">Project:</label>
            <label class="formPriorityLabel" for="formPriority">Priority:</label>
            <label class="formTaskLabel" for="formTask">Task:</label>
            <label class="formDateLabel" for="datetime">Date:</label><br>

            <div class="dropdown" id="formProject">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formProjectPicker">
                    Pick Project
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% if projects is empty %}
                    <label class="projectMenuElement selected">
                        YOU DO NOT HAVE ANY PROJECTS. ADD AT LEAST ONE
                    </label>
                    {% else %}
                        {% for project in projects %}
                            {% for icon in icons if icon.id == project.iconId %}
                                {% if id == project.id %}
                                    <label class="projectMenuElement selected">
                                        <input type="radio" checked name="taskproject" value="{{ project.id }}" required> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% else %}
                                    <label class="projectMenuElement">
                                        <input type="radio" name="taskproject" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <select class="formPriorityPicker" name="taskpriority" id="formPriority" required>
                {% for i in 1..3 %}
                <option class="formPriority p{{i}}" value="{{i}}">{% for k in 1..i %}!{%endfor%}</option>
                {% endfor %}
            </select>

            <input type="text" class="formTaskName"  name="taskname" id="formTask" required>
            <input type="text" class="formDate" value="" name="taskdate" id="datetime" required>

            <script type="text/javascript">
                $("#datetime").datetimepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd hh:ii',
                    todayBtn: true
                });
            </script>

            <button type="submit" class="submit">&#8658;</button>
        </form>
        <div class="message">{{messages.tasks}}</div>
    </div>
</section>

{% include 'footer.html' %}