{% include 'header.html' %}

        <div class="tasksProject">
            EDIT TASK
        </div>
    </header>
    <div class="central">
        <form method="post" action="{{attribute(configs, 'baseURL')}}tasks/edit/{{tasks.id}}" class="editForm">
            <label class="formProjectLabel" for="formProject">Project:</label>
            <label class="formPriorityLabel" for="formPriority">Priority:</label>
            <label class="formTaskLabel" for="formTask">Task:</label>
            <label class="formDateLabel" for="datetime">Date:</label><br>

            <div class="dropdown" id="formProject">
                <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formProjectPicker">
                    Pick Project
                </button>
                <ul class="dropdown-menu" aria-labelledby="dLabel">
                    {% for project in projects %}
                        {% for icon in icons if icon.id == project.iconId %}
                            {% if tasks.projectId == project.id %}
                                <label class="projectMenuElement redIcon">
                                    <input type="radio" checked name="taskproject" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                </label>
                            {% else %}
                                <label class="projectMenuElement">
                                    <input type="radio" name="taskproject" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <select class="formPriorityPicker" name="taskpriority" id="formPriority">
                {% for i in 1..3 %}
                {% if tasks.priority == i %}
                <option class="formPriority p{{i}}" selected value="{{i}}">{% for k in 1..i %}!{%endfor%}</option>
                {% else %}
                <option class="formPriority p{{i}}" value="{{i}}">{% for k in 1..i %}!{%endfor%}</option>
                {% endif %}
                {% endfor %}
            </select>

            <input type="text" class="formTaskName" value="{{tasks.name}}" name="taskname" id="formTask">
            <input type="text" class="formDate" value="{{tasks.dueDate}}" name="taskdate" id="datetime">

            <script type="text/javascript">
                $("#datetime").datetimepicker({
                    autoclose: true,
                    format: 'yyyy-mm-dd hh:ii',
                    todayBtn: true
                });
            </script>

            <button type="submit" class="submit">&#8658;</button>
        </form>
        <div class="message">{{messages.tasks}}</div>
    </div>
</section>

{% include 'footer.html' %}