{% include 'header.html' %}

        <div class="tasksProject">
            {% for project in projects if project.id == sort2 %}
                {{project.name}}
            {% endfor %}
            {% for menu in menus if menu.id == sort1 %}
                {{menu.name}}
            {% endfor %}
        </div>
    </header>
    <div class="central">

        {% set flag = 0 %}
        {% for task in tasks if task.done == 0 and flag == 0 %}
        {% set flag = 1 %}
        <div class="subHeader">TO DO</div>
        {% endfor %}

        <ul id="tasks" class="tasksList">
            {% for task in tasks if task.done == 0 %}
            <li>
                {% for project in projects if task.projectId == project.id %}
                    {% for icon in icons if icon.id == project.iconId %}
                        <div class="taskProject"><a href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project.id}}"><span class="blackIcon fa-fw">{{icon.unicode | raw}}</span></a></div>
                    {% endfor %}
                {% endfor %}

                {% for i in 1..3 if task.priority == i %}
                    <div class="taskPriority p{{i}}">{% for j in 1..i %}!{% endfor %}</div>
                {% endfor %}

                <div class="checkboxContainer">
                    <form method="post" action="{{attribute(configs, 'baseURL')}}tasks/done/{{task.id}}">
                        <input type="checkbox" id="{{task.id}}" value="{{task.id}}" onChange="this.form.submit()">
                        <label for="{{task.id}}"></label>
                    </form>
                </div>

                <div class="taskName">{{task.name}}</div>
                <div class="taskDate">{{task.dueDate}}</div>
                <div class="taskEdit"><a href="{{attribute(configs, 'baseURL')}}tasks/edit/{{task.id}}"><span class="redIcon fa-fw fa-pencil"></span></a></div>
            </li>
            {% endfor %}
        </ul>

        {% set flag = 0 %}
        {% for task in tasks if task.done == 1 and flag == 0 %}
        {% set flag = 1 %}
        <div class="subHeader">DONE</div>
        {% endfor %}

        <ul id="archive" class="tasksList doneList">
            {% for task in tasks if task.done == 1 %}
            <li>
                {% for project in projects if task.projectId == project.id %}
                {% for icon in icons if icon.id == project.iconId %}
                <div class="taskProject"><a href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project.id}}"><span class="blackIcon fa-fw">{{icon.unicode | raw}}</span></a></div>
                {% endfor %}
                {% endfor %}

                {% for i in 1..3 if task.priority == i %}
                <div class="taskPriority p{{i}}">{% for j in 1..i %}!{% endfor %}</div>
                {% endfor %}

                <div class="checkboxContainer">
                    <form method="post" action="{{attribute(configs, 'baseURL')}}tasks/undone/{{task.id}}">
                        <input type="checkbox" checked id="{{task.id}}" value="{{task.id}}" onChange="this.form.submit()">
                        <label for="{{task.id}}"></label>
                    </form>
                </div>

                <div class="taskName">{{task.name}}</div>
                <div class="taskDate">{{task.dueDate}}</div>
                <div class="taskEdit"><a href="{{attribute(configs, 'baseURL')}}tasks/prepare/{{task.id}}"><span class="redIcon fa-fw fa-trash"></span></a></div>
            </li>
            {% endfor %}
        </ul>
        <div class="message">{{messages.tasks}}</div>
    </div>
</section>

{% include 'footer.html' %}