/*******************

red color: #E74C3C
white color: #F0F0F0
dark blue color: #2C3E50
mid blue color: #2980B9
light blue color: #3498DB

 */

/*******************

    GENERALS

 */

body {
    font-family:'FontAwesome','Lato','Open Sans','Arial', sans-serif;
    background:#F0F0F0 url('../img/background-blur.jpg') no-repeat fixed;
    background-size: cover;
    color:#2C3E50;
    font-size:16px;
}

.color {
    background-color: #2C3E50;
    opacity: 0.85;
    width: 100%;
    height: 100%;
    position: absolute;
}

.selected {
    color: #E74C3C;
}

.selected a {
    color: #E74C3C;
}

/*******************

LOGIN FILE

 */

.message {
    color:#E74C3C;
    font-size: 16px;
    text-align: center;
    padding: 10px;
}

.main-login {
    position:relative;
    top:150px;
    width:800px;
    min-height:500px;
    color:#3498DB;
    margin:0 auto;
}

.main {
    position:relative;
    top:150px;
    width:800px;
    min-height:500px;
    color:#3498DB;
    left:calc(50% - ( 475px / 2)); /* 800px of central section - 325px of sidePanel section */
    right:calc(50% - ( 475px / 2));
}

.login {
    background-color: #2C3E50;
    padding: 10px 0 0 0;
    width: 350px;
    display: inline-block;
    float: left;
}

.registry {
    background-color: #2C3E50;
    padding: 10px 0 0 0;
    width: 350px;
    display: inline-block;
    float: right;
}

.form-header {
    font-weight: 900;
    padding:0 0 20px 0;
    color:#E74C3C;
    font-size:24px;
    text-align: center;
}

.login .field, .registry .field {
    margin:0 25px 10px 25px;
    width: 300px;
}

.login input, .registry input {
    height:24px;
    font-size:16px;
    line-height:20px;
    background-color:#F0F0F0;
    border:0;
    width: 100%;
    color:#2C3E50;
}

.login .submit, .registry .submit {
    position:relative;
    top:4px;
    font-size:16px;
    background-color:#3498DB;
    border:0;
    color:#2C3E50;
    padding:8px;
    font-weight:900;
    width: 100%;
    cursor: pointer;
    margin-top: 10px;
}

.login .submit:hover, .registry .submit:hover {
    background-color:#E74C3C;
}

.central {
    background-color: #F0F0F0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*******************

HOME

 */

.sidePanel {
    height: 100%;
    width: 325px;
    background:#2C3E50 url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
}

.sidePanel .color {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidePanelProjects {
    position: relative;
    padding: 30px 25px 0 25px;
    height: 100%;
    overflow-y: auto;
}

.sidePanelProjects > div {
    text-align: center;
}

.sidePanelProjects > div > a {
    color:#E74C3C;
    font-size: 20px;
    position: relative;
}

.sidePanelButton {
    color:#3498DB;
}

.sidePanelButton:hover {
    color:#E74C3C;
}

.sidePanelProjects li {
    height:24px;
    line-height:24px;
    width: 250px;
}

.sidePanelProjects ul ul {
    left:15px;
    position: relative;
    width: 250px;
}

.tasksHeader {
    height: 120px;
    background:#2C3E50 url('../img/background.jpg') no-repeat fixed;
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.tasksHeader .color {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.tasksMenu {
    background-color: #3498DB;
    color:#2C3E50;
    height: 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
    line-height: 30px;
    padding-left: 15px;
}

.tasksMenu li {
    display: inline-block;
    padding: 0 10px;
}

.taskMenuButton {
    color: #2C3E50;
}

.taskMenuButton:hover {
    color: #E74C3C;
}

.addTask {
    color: #2C3E50;
    display: inline-block;
    float: right;
    position: absolute;
    right: 25px;
    top:0;
    font-weight: 900;
}

.addTask:hover {
    color: #E74C3C;
}

.tasksProject {
    font-size: 48px;
    color:#E74C3C;
    text-align: center;
    position: relative;
    line-height: 90px;
}

.whiteIcon {
    color:#F0F0F0;
}

.redIcon {
    color:#E74C3C;
}

.blackIcon {
    color:#2C3E50;
}

.subHeader {
    color:#E74C3C;
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.tasksList {
    background-color: #F0F0F0;
}

.doneList {
    background-color: #E9E9E9;
}

.doneList > li > div {
    opacity: 0.5;
}

.doneList > li > .taskEdit, .doneList > li > .checkboxContainer {
    opacity: 1;
}

.tasksList li {
    min-height: 30px;
    line-height: 22px;
    border-bottom: #2C3E50 solid 1px;
    padding: 0 25px;
    display: flex;
    align-items: center;
}

.tasksList li:first-of-type {
    border-top: #2C3E50 solid 1px;
}

.taskProject {
    display: inline-block;
    width: 25px;
    color: #2C3E50;
    font-size: 18px;
    text-align: center;
    position: relative;
}

.taskProjectName {
    display: inline-block;
    min-width: 150px;
    color: #2C3E50;
    font-size: 18px;
    text-align: left;
    position: relative;
    left:100px;
}

.taskPriority {
    display: inline-block;
    width: 25px;
    text-align: center;
    font-weight: 900;
    position: relative;
}

.p1 {
    color:#3498DB;
}

.p2 {
    color:#F1A230;
}

.p3 {
    color:#E74C3C;
}

.checkboxContainer {
    display: inline-block;
    width: 25px;
    position: relative;
    top:-10px;
}

.checkboxContainer > form > input[type=checkbox] {
    opacity: 0;
    position: absolute;
}

.checkboxContainer > form > label {
    width: 18px;
    height: 18px;
    background: #F0F0F0;
    border-radius: 3px;
    border: solid 2px #2C3E50;
    position: absolute;
}

.checkboxContainer > form > input[type=checkbox]:checked ~ label:after {
    content:"\2713";
    color:#2C3E50;
    font-size:20px;
    line-height: 14px;
    position: relative;
    font-weight: 900;
    top:-2px;
}

.taskName {
    display: inline-block;
    width: 525px;
    color: #2C3E50;
    padding-left: 10px;
    position: relative;
}

.taskDate {
    display: inline-block;
    width: 115px;
    color: #2C3E50;
    font-size: 14px;
    position: relative;
}

.taskEdit {
    width: 35px;
    position:relative;
    left:15px;
}

.projectEdit {
    width: 35px;
    display: inline-block;
    position: relative;
    left:10px;
}

.showEditProject {
    cursor: pointer;
    color: #3498DB;
}

.showEditProject:hover {
    color:#E74C3C;
}

/*******************

HOME

 */

.addForm, .editForm, .editProjectForm {
    background-color: #F0F0F0;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 25px;
    color: #2C3E50;
}

.confirmForm {
    background-color: #F0F0F0;
    width: 80%;
    box-sizing: border-box;
    padding: 5px 25px;
    color: #2C3E50;
    text-align: center;
    top:-5px;
    position: relative;
    margin:0 auto;
}

.dropdown {
    display: inline-block;
}

.projectMenuElement {
    display: block;
    padding: 1px 0 1px 5px;
}

.projectMenuElement:hover {
    color: #E74C3C;
}

.iconMenuElement {
    display: inline-block;
    width: 36px;
}

.iconMenuElement:hover {
    color: #E74C3C;
}

.addForm .submit, .editForm .submit, .editProjectForm .submit {
    background-color: #F0F0F0;
    color: #E74C3C;
    font-weight: 900;
    font-size: 40px;
    line-height:0;
    border:0;
    padding: 0;
    position: relative;
    top:5px;
    width: 40px;
    height: 25px;
    cursor: pointer;
}

.formProjectPicker {
    width: 100px;
    padding: 0 0 0 5px;
}

.formPriorityPicker {
    font-weight: 900;
    text-align: center;
    width: 60px;
}

.formTaskName {
    width: 385px;
    padding: 0 0 0 5px;
}

.formDate {
    width: 145px;
    padding: 0 0 0 5px;
}

.formProjectLabel {
    position: relative;
    font-weight: 400;
}

.formPriorityLabel {
    position: relative;
    left: 45px;
    font-weight: 400;
}

.formTaskLabel {
    position: relative;
    left: 50px;
    font-weight: 400;
}

.formDateLabel {
    position: relative;
    left: 400px;
    font-weight: 400;
}

.hide {
    display:none;
}

.editIcon {
    padding:0 0 0 5px;
}

.wider {
    min-width: 285px;
    padding: 5px;
}

.formProjectName {
    width:250px;
    position:relative;
    left:125px;
}

.formProjectNameLabel {
    position:relative;
    left:125px;
}

.formParentButtonLabel {
    position:relative;
    left:375px;
}

.formIconButtonLabel {
    position:relative;
    left:125px;
}

.parentButton {
    position: relative;
    left: 125px;
}

.iconButton {
    position: relative;
    left: 125px;
}

.editProjectForm .formProjectName {
    position: relative;
    width:225px;
}

.editProjectForm .submit {
    left:125px;
}

.formProjectNameLabel {
    position: relative;
    left:125px;
}

.formParentLabel {
    position: relative;
    left:305px;
}

.formIconLabel {
    position: relative;
    left:355px;
}

/*******************

INSTRUCTION

 */

.list {
    width: 1000px;
    margin: 0 auto;
    background:rgba(240, 240, 240, 0.8);
    padding: 20px;
    overflow: auto;
}

.list:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.list:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.list header {
    color:#E74C3C;
    font-size: 30px;
    text-align: center;
}

.list .header-list{
    color:#E74C3C;
    font-size: 24px;
    margin-top:20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #2C3E50;
}

.list .one-list {
    margin: 25px 0;
    overflow: auto;
    font-size: 18px;
}

.list .center {
    text-align: center;
}

.list .center img {
    float:none;
}

.list img {
    float:left;
    margin:0 10px;
}

.list .text-new-line {
    clear:both;
    padding: 10px;
}

.list a:hover {
    color:#E74C3C;
}