{% include 'header.html' %}

        <div class="tasksProject">
            ADD PROJECT
        </div>
    </header>
    <div class="central">
        <form method="post" action="{{attribute(configs, 'baseURL')}}projects/add" class="editProjectForm">
            <input type="hidden" name="flag" value="1">
            <label class="formProjectNameLabel" for="ProjectName">Name:</label>
            <label class="formParentLabel" for="formProject">Parent:</label>
            <label class="formIconLabel" for="formIcon">Icon:</label><br>

            <input type="text" class="formProjectName" name="projectname" id="ProjectName" maxlength="12" required>

            <div class="dropdown parentButton" id="formProject">
                <button id="ParentButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formParentPicker">
                    Pick Parent
                </button>
                <ul class="dropdown-menu" aria-labelledby="ParentButton">


                        <label class="projectMenuElement">
                            <input type="radio" name="parent" checked required value="0"> NO PARENT
                        </label>
                    {% for project in projects if project.parentId == 0 %}
                        {% for icon in icons if icon.id == project.iconId %}
                            {% if idNumber == project.id %}
                                <label class="projectMenuElement selected">
                                    <input type="radio" checked name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                </label>
                            {% else %}
                                <label class="projectMenuElement">
                                    <input type="radio" name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                </label>
                            {% endif %}
                        {% endfor %}
                        {% for project2 in projects if project2.parentId == project.id and editprojects.id != project.id %}
                            {% for icon in icons if icon.id == project2.iconId %}
                                {% if idNumber == project2.id %}
                                    <label class="projectMenuElement selected">
                                        <input type="radio" checked name="parent" value="{{ project2.id }}"> {{icon.unicode | raw}} {{ project2.name }}
                                    </label>
                                {% else %}
                                    <label class="projectMenuElement">
                                        <input type="radio" name="parent" value="{{ project2.id }}"> {{icon.unicode | raw}} {{ project2.name }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>

            <div class="dropdown iconButton" id="formIcon">
                <button id="IconButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formIconPicker">
                    Pick Icon
                </button>
                <ul class="dropdown-menu wider" aria-labelledby="IconButton">
                    {% for icon in icons %}
                            <label class="iconMenuElement">
                                <input type="radio" name="projecticon" checked value="{{ icon.id }}"> {{icon.unicode | raw}}
                            </label>
                    {% endfor %}
                </ul>
            </div>
            <button type="submit" class="submit">&#8658;</button>
        </form>
        <div class="message">{{messages.tasks}}</div>
    </div>
</section>

{% include 'footer.html' %}