{% include 'header.html' %}

        <div class="tasksProject">
            DELETE PROJECT
        </div>
    </header>
    <div class="central">
        <div class="message">{{messages.tasks}}</div>
        <form method="post" action="{{attribute(configs, 'baseURL')}}projects/delete/{{idNumber}}" class="confirmForm">
            <button name="confirm" value="0"><i class="fa fa-trash fa-lg"></i> Delete</button>
        </form>
        <form method="post" action="{{attribute(configs, 'baseURL')}}projects/delete/undo" class="confirmForm">
            <button name="confirm" value="1"><i class="fa fa-undo"></i> Cancel</button>
        </form>
    </div>
</section>

{% include 'footer.html' %}