{% include 'header.html' %}

        <div class="tasksProject">
            EDIT PROJECT
        </div>
    </header>
    <div class="central">
        <form method="post" action="{{attribute(configs, 'baseURL')}}projects/edit/{{editprojects.id}}" class="editProjectForm">
            <label class="formProjectNameLabel" for="ProjectName">Name:</label>
            <label class="formParentLabel" for="formProject">Parent:</label>
            <label class="formIconLabel" for="formIcon">Icon:</label><br>

            <input type="text" class="formProjectName" name="projectname" id="ProjectName" value="{{editprojects.name}}" maxlength="12" required>

            <div class="dropdown parentButton" id="formProject">
                <button id="ParentButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formParentPicker">
                    Pick Parent
                </button>
                <ul class="dropdown-menu" aria-labelledby="ParentButton">

                    {% if editprojects.parentId == 0 %}
                        <label class="projectMenuElement redIcon">
                            <input type="radio" checked name="parent" value="0"> NO PARENT
                        </label>
                    {% else %}
                        <label class="projectMenuElement">
                            <input type="radio" name="parent" value="0"> NO PARENT
                        </label>
                    {% endif %}

                    {% set child1 = [] %}
                    {% set child2 = [] %}

                    {% for project in projects %}
                        {% if editprojects.id == project.parentId %}
                            {% for project2 in projects %}
                                {% if project.id == project2.parentId %}
                                    {% set child2 = child2|merge({'id': editprojects.id}) %}
                                {% else %}
                                    {% set child1 = child1|merge({'id': editprojects.id}) %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}

                    {% if child2.id == editprojects.id %}
Only three levels allow
                    {% elseif child1.id == editprojects.id %}
                        {% for project in projects if project.parentId == 0 and editprojects.id != project.id %}
                            {% for icon in icons if icon.id == project.iconId %}
                                {% if editprojects.parentId == project.id %}
                                    <label class="projectMenuElement redIcon">
                                        <input type="radio" checked name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% else %}
                                    <label class="projectMenuElement">
                                        <input type="radio" name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% for project in projects if project.parentId == 0 and editprojects.id != project.id %}
                            {% for icon in icons if icon.id == project.iconId %}
                                {% if editprojects.parentId == project.id %}
                                    <label class="projectMenuElement redIcon">
                                        <input type="radio" checked name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% else %}
                                    <label class="projectMenuElement">
                                        <input type="radio" name="parent" value="{{ project.id }}"> {{icon.unicode | raw}} {{ project.name }}
                                    </label>
                                {% endif %}
                            {% endfor %}
                            {% for project2 in projects if project2.parentId == project.id and editprojects.id != project.id %}
                                {% for icon in icons if icon.id == project2.iconId %}
                                    {% if editprojects.parentId == project2.id %}
                                        <label class="projectMenuElement redIcon">
                                            <input type="radio" checked name="parent" value="{{ project2.id }}"> {{icon.unicode | raw}} {{ project2.name }}
                                        </label>
                                    {% else %}
                                        <label class="projectMenuElement">
                                            <input type="radio" name="parent" value="{{ project2.id }}"> {{icon.unicode | raw}} {{ project2.name }}
                                        </label>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>

            <div class="dropdown iconButton" id="formIcon">
                <button id="IconButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="formIconPicker">
                    Pick Icon
                </button>
                <ul class="dropdown-menu wider" aria-labelledby="IconButton">
                    {% for icon in icons %}
                        {% if icon.id == editprojects.iconId %}
                            <label class="iconMenuElement redIcon">
                                <input type="radio" checked name="projecticon" value="{{ icon.id }}"> {{icon.unicode | raw}}
                            </label>
                        {% else %}
                            <label class="iconMenuElement">
                                <input type="radio" name="projecticon" value="{{ icon.id }}"> {{icon.unicode | raw}}
                            </label>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <button type="submit" class="submit">&#8658;</button>
        </form>
        <div class="message">{{messages.tasks}}</div>
    </div>
</section>

{% include 'footer.html' %}