{% include 'header-empty.html' %}
<section class="main-login">
    <form class="login" method="post" action="{{attribute(configs, 'baseURL')}}login/login">
        <header class="form-header">SIGN IN</header>
        <div class="field">
            <label for="login-email">E-mail:</label><br>
            <input id="login-email" required type="email" name="email">
        </div>
        <div class="field">
            <label for="login-password">Password:</label><br>
            <input id="login-password" required type="password" name="password">
        </div>
        <button type="submit" class="submit" value="SIGN IN">SIGN IN</button>
        <div class="message">{{messages.login}}</div>
    </form>

    <form class="registry" method="post" action="{{attribute(configs, 'baseURL')}}login/registry">
        <header class="form-header">SIGN UP</header>
        <div class="field">
            <label for="registry-email">E-mail:</label><br>
            <input id="registry-email" required type="email" name="email">
        </div>
        <div class="field">
            <label for="registry-repeat-email">Repeat E-mail:</label><br>
            <input id="registry-repeat-email" required type="email" name="repeat-email">
        </div>
        <div class="field">
            <label for="registry-password">Password:</label><br>
            <input id="registry-password" required type="password" name="password">
        </div>
        <div class="field">
            <label for="registry-repeat-password">Repeat Password:</label><br>
            <input id="registry-repeat-password" required type="password" name="repeat-password">
        </div>
        <button type="submit" class="submit" value="SIGN UP">SIGN UP</button>
        <div class="message">{{messages.registry}}</div>
    </form>
</section>
{% include 'login/info.html' %}
{% include 'footer.html' %}