<div class="list">
    <header>ABOUT</header>
    <div class="one-list center">
        <div class="header-list">WHAT IT IS?</div>
        <div class="text-new-line">
            This small app is simple to do list.
            To do list is a list of tasks that you have to do.
            The main purpose of creating this app is for gain experience and to have some sort of work for my CV.</div>
    </div>
</div>

<div class="list">
    <header>INSTRUCTION</header>
    <div class="one-list center">
        <div class="header-list">THREE LEVELS</div>
        <img src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'img_path')}}/instruction/3levels.jpg">
        <div class="text-new-line">You are allowed to add two sublevels to your mains projects. In other words your main projects can have subprojects and this subprojects can have other subprojects.</div>
    </div>
    <div class="one-list center">
        <div class="header-list">PROJECT NAME</div>
        <img src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'img_path')}}/instruction/max12letters.jpg">
        <div class="text-new-line">Your projects name can be long up to twelve characters.</div>
    </div>
    <div class="one-list center">
        <div class="header-list">SIGN UP</div>
        <img src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'img_path')}}/instruction/login-registry.jpg">
        <div class="text-new-line">To sign up you can use dump e-mail. App does not send back any links for your convenience. After you have got registry confirmation you can just sign in.</div>
    </div>
</div>

<div class="list">
    <header>TO DO</header>
    <div class="one-list">
        <div class="header-list">AJAX</div>
        <div class="text-new-line">To prevent refreshing website every time you change something.</div>
    </div>
    <div class="one-list">
        <div class="header-list">PROJECT SORTING</div>
        <div class="text-new-line">Allow to change default projects order.</div>
    </div>
    <div class="one-list">
        <div class="header-list">MOBILE VIEW</div>
        <div class="text-new-line">Improve view on small displays.</div>
    </div>
    <div class="one-list">
        <div class="header-list">ENCRYPT TASKS</div>
        <div class="text-new-line">In case of database leak or in case of illegal access via app.</div>
    </div>
    <div class="one-list">
        <div class="header-list">SORTING TASKS</div>
        <div class="text-new-line">Add sorting methods to the tasks list.</div>
    </div>
</div>

<div class="list">
    <header>BUGS</header>
    <div class="one-list">
        <div class="header-list">CHROME AND OPERA</div>
        <div class="text-new-line">
            Chrome generate some UX bugs like:<br>
            - not redirect where you were after editing data.<br>
            - not checked project and parent in add forms.<br>
            Both problems show up only on live version and only on chrome and opera.
        </div>
    </div>
    <div class="one-list">
        <div class="header-list">POLISH CHARACTERS</div>
        <div class="text-new-line">Polish characters are count as 2 when are entered to database so if you use only polish characters your name will be trim to six characters.</div>
    </div>
    <div class="one-list">
        <div class="header-list">CSRF</div>
        <div class="text-new-line">Polish characters are count as 2 when are entered to database so if you use only polish characters your name will be trim to six characters.</div>
    </div>
</div>

<div class="list">
    <header>CONTACT</header>
    <div class="one-list center">
        <a href="mailto:kotluksoc@gmail.com"><span class="fa fa-envelope fa-3x"></span></a>
        <a href="http://www.linkedin.com/in/kotlukasz"><span class="fa fa-linkedin-square fa-3x"></span></a>
    </div>
</div>