<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}reset.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}font-awesome.min.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>
<body>