<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% for project in projects if project.id == sort2 %}
        {{project.name}}
        {% endfor %}
        {% for menu in menus if menu.id == sort1 %}
        {{menu.name}}
        {% endfor %}
    </title>
    <script src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'js_path')}}jquery.js"></script>
    <script src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'js_path')}}bootstrap-datetimepicker.min.js"></script>
    <script src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'js_path')}}bootstrap.min.js"></script>
    <script src="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'js_path')}}functions.js"></script>
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}reset.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}bootstrap.min.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}font-awesome.min.css">
    <link rel="stylesheet" href="{{attribute(configs, 'baseURL')}}{{attribute(configs, 'css_path')}}style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
</head>
<body>

<section class="sidePanel">
    <div class="color"></div>

    <div class="sidePanelProjects">
        <div><a href="{{attribute(configs, 'baseURL')}}">PROJECTS</a></div>
        <ul>
            {% for project in projects if project.parentId == 0 %}
            {% for icon in icons if icon.id == project.iconId %}
            {% if project.id == sort2 %}
            <li class="project"><a class="selected" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project.id}}"><span class="redIcon fa-fw">{{icon.unicode | raw}}</span> {{project.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
            {% else %}
            <li class="project"><a class="sidePanelButton" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project.id}}"><span class="whiteIcon fa-fw">{{icon.unicode | raw}}</span> {{project.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
            {% endif %}
            {% endfor %}
            <ul>
                {% for project2 in projects if project2.parentId == project.id %}
                {% for icon in icons if icon.id == project2.iconId %}
                {% if project2.id == sort2 %}
                <li class="project"><a class="selected" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project2.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project2.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project2.id}}"><span class="redIcon fa-fw">{{icon.unicode | raw}}</span> {{project2.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
                {% else %}
                <li class="project"><a class="sidePanelButton" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project2.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project2.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project2.id}}"><span class="whiteIcon fa-fw">{{icon.unicode | raw}}</span> {{project2.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
                {% endif %}
                {% endfor%}
                <ul>
                    {% for project3 in projects if project3.parentId == project2.id %}
                    {% for icon in icons if icon.id == project3.iconId %}
                    {% if project3.id == sort2 %}
                    <li class="project"><a class="selected" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project3.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project3.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project3.id}}"><span class="redIcon fa-fw">{{icon.unicode | raw}}</span> {{project3.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
                    {% else %}
                    <li class="project"><a class="sidePanelButton" href="{{attribute(configs, 'baseURL')}}tasks/byproject/{{project3.id}}" edithref="{{attribute(configs, 'baseURL')}}projects/edit/{{project3.id}}" deletehref="{{attribute(configs, 'baseURL')}}projects/prepare/{{project3.id}}"><span class="whiteIcon fa-fw">{{icon.unicode | raw}}</span> {{project3.name}}<span class="editIcon redIcon fa-fw "></span></a></li>
                    {% endif %}
                    {% endfor%}
                    {% endfor%}
                </ul>
                {% endfor%}
            </ul>
            {% endfor %}
        </ul>
        <br>

        <span class="showEditProject" onclick="showEditProjects();">Edit projects</span><br>
        <span class="showEditProject" onclick="deleteProject();">Delete project</span><br>
        <a href="{{attribute(configs, 'baseURL')}}projects/add">Add project</a>
        <br><br>
        <a href="{{attribute(configs, 'baseURL')}}login/logout">Logout</a>
    </div>
</section>

<section class="main">
    <header class="tasksHeader">
        <div class="color"></div>
        <div class="tasksMenu">
            <ul>
                {% for menu in menus if menu.menuId == 0 %}
                <li>
                    {% if menu.id == sort1 %}
                    <a href="{{attribute(configs, 'baseURL')}}tasks/bydate/{{menu.id}}" class="selected">{{menu.name}}</a>
                    {% else %}
                    <a href="{{attribute(configs, 'baseURL')}}tasks/bydate/{{menu.id}}" class="taskMenuButton">{{menu.name}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <a href="{{attribute(configs, 'baseURL')}}tasks/add" class="addTask">ADD TASK</a>
        </div>